* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: "Comic Sans MS", "Comic Sans";
  background-color: #f4f4f4;
  color: #222;
  line-height: 1.6;
}

/* ==================================================
   OVERLAY
   ================================================== */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
}

.overlay.show {
  opacity: 1;
  visibility: visible;
}

/* ==================================================
   HEADER
   ================================================== */
header {
  background-color: #4f3c36;
  color: #edd4b2;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

header p {
  font-size: 14px;
  color: rgba(237, 212, 178, 0.8);
}

.header-image {
  width: 100px; 
  height: auto;
  margin-right: 2rem;
}

/* ==================================================
   TOP NAV
   ================================================== */
.top_nav {
  margin-left: auto;
  margin-right: 2rem;
  display: flex;
  gap: 1.5rem;
  font-size: 20px;
}

.top_nav a {
  color: #edd4b2;
  text-decoration: none;
  margin-right: 1rem;
}

.top_nav a:hover {
  text-decoration: underline;
}

/* ==================================================
   SIDE NAV
   ================================================== */
.hamburger {
  font-size: 26px;
  cursor: pointer;
  margin-left: 2rem;
  margin-right: 2rem;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100vh;
  background: #4f3c36;
  transition: left 0.3s ease;
}

.sidebar.open {
  left: 0;
}

.sidebar-title {
  padding: 1rem;
  font-weight: bold;
  text-align: center;
}

.sidebar a {
  display: block;
  padding: 1rem 1.5rem;
  color: #edd4b2;
  text-decoration: none;
}

.sidebar a:hover {
  background: #784c33;
}

/* ==================================================
   INDEX PAGE
   ================================================== */
.main-title-box {
  width: 1704px;
  height: 150px;

  background-color: #784c33;

  border-radius: 75px;

  margin: 1rem auto;
  padding: 1.5rem;

  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #edd4b2;
  text-align: center;
}

.main-title-box p {
  font-size: 1.2rem;
}

.intro-box {
  width: 1704px;
  height: 300px;
  background-color: #dfc08e;
  border-radius: 5rem;
  margin: 1.3rem auto;
  display: flex;
  overflow: hidden;
  color: #4f3c36;
}

.intro-text {
  padding: 4rem 4rem 0 4rem;
  flex: 1;
}

.intro-text p {
  font-size: 1.2rem;
}

.intro-image {
  height: 100%;
  padding: 1rem;
  object-fit: cover;
}

/* ==================================================
   NAV BOX
   ================================================== */
.nav-box {
  display: flex;
  justify-content: space-between;
  width: 1704px;
  margin: auto;
  gap: 1.3rem;
  padding-top: 0.3rem;
  padding-bottom: 4rem;
}

.nav-item {
  height: 250px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #dfc08e;
  padding: 1rem;
  text-align: center;
  color:inherit;
  text-decoration: none;
  border-radius: 1.9rem;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.nav-item:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 0.5rem 1.3rem rgba(0,0,0,0.15);
}

/* ==================================================
    ABOUT PAGE
   ================================================== */

.about-title-box {
  width: 1704px;
  background-color: #784c33;
  border-radius:75px;

  margin: 1rem auto;
  padding: 2rem;

  display: flex;
  justify-content: center;
  flex-direction: column;

  color: #edd4b2;
  text-align: center;
}

.about-title-box p {
  font-size: 1rem;
}

.about-box {
  width: 1704px;
  height: 215px;
  background-color: #dfc08e;
  border-radius: 75px;

  margin: 1rem auto;
  display: flex;
  overflow: hidden;

  color: #4f3c36;
}

.about-text {
  padding: 4rem;
  padding-top: 3rem;
  flex: 1;
}

.about-text p {
  font-size: 18px;
}

/* ==================================================
    GALLERY PAGE
   ================================================== */

.gallery-title-box {
  width: 1704px;
  background-color: #784c33;
  border-radius:75px;

  margin: 1rem auto;
  padding: 2rem;

  display: flex;
  justify-content: center;
  flex-direction: column;

  color: #edd4b2;
  text-align: center;
}

.gallery-title-box p {
  font-size: 1rem;
}

.gallery-box {
  width: 1704px;
  height: 400px;
  background-color: #dfc08e;
  border-radius: 0px;

  margin: 1rem auto;
  display: flex;
  overflow: hidden;

  color: #4f3c36;
}

.gallery-text {
  padding: 4rem;
  padding-top: 3rem;
  flex: 1;
}

.gallery-text p {
  font-size: 18px;
}

/* ==================================================
   FOOTER
   ================================================== */
footer {  
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 1rem;
  font-size: 0.85rem;
}
